.features {
  padding-bottom: 60px;
  padding-top: 60px;
}

.features-list__item {
  background: var(--color-white);
  position: relative;

  &:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}

.features-list__svg {
  @include style(flex, center, center);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: var(--card-set-gap);
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

.features-list__heading {
  @include font(14px, 1.14);
  font-weight: 700;

  color: var(--accent-text-color);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.features-list__text {
  @include font();
  color: var(--accent-too-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  .features-list__item {
    margin-right: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);
  }

  .features-list > .features-list__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }

  .features-list__heading {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__heading {
    @include font(14px, 1.14);
    font-weight: 700;

    color: var(--accent-text-color);
    margin-bottom: 10px;
  }

  .features-list__item {
    background: var(--color-white);
    position: relative;
    margin-bottom: auto;

    &:not(:last-child) {
      margin-right: var(--card-set-gap);
    }
  }

  .features-list__text {
    @include font();
    color: var(--accent-too-color);
  }

  .features {
    display: flex;
    padding-bottom: 47px;
    padding-top: 94px;
  }

  .features-list__icon {
    width: 70px;
    height: 70px;
  }

  .features-list__svg {
    @include style(flex, center, center);
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;

    margin-bottom: var(--card-set-gap);
    background: #f5f4fa;
    border-radius: 4px;
  }

  .features-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-top: 0;
  }
}
