.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-box-social {
  display: flex;
  flex-direction: column;
  width: 206px;
  margin-left: 70px;
}

.footer {
  background: var(--background-footer);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box-social__title {
  @include font(14px, 1.14);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-white);
}
