@media screen and (max-width: 767px) {
  .hero {
    color: var(--color-white);
    background-color: var(--background-footer);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  .hero__main-heading {
    @include font(26px, 1.61, 0.06em);
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

/*.hero {
  color: var(--color-white);
  background-color: var(--background-footer);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img-studio/Img-9.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.hero__main-heading {
  @include font(44px, 1.36, 0.06em);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
}*/
