.menu-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: block;
  }
  .menu-list {
    @include style(flex, center, center);
    margin-left: auto;
  }

  .menu-list__link {
    @include font(14px, 1.14, 0.02em);
    font-weight: 500;

    color: var(--accent-text-color);
    position: relative;
    transition: var(--functcii--transition);

    &:hover,
    &:focus {
      background-color: var(--color-white);
      color: var(--accent-color);
      transition: var(--functcii--transition);
    }
  }

  .menu-list__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .linner::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);

    margin-bottom: -34px;
    border-radius: 2px;
  }
}
