.components-title {
  @include font(28px, 1.17);
  font-weight: 700;
  text-align: center;
  color: var(--accent-text-color);
  padding-bottom: 30px;
  padding-top: 60px;
}

.team-list__box {
  padding-top: 30px;
  padding-bottom: 24px;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__text {
  @include font(16px, 1.18);
  text-align: center;
  color: var(--accent-too-color);
  margin-bottom: 16px;
  margin-top: 10px;
}

.team-list__heading {
  @include font(16px, 1.18);
  font-weight: 500;
  text-align: center;
  color: var(--accent-text-color);
}

.social-list {
  @include style();
  padding-left: 122px;
  padding-right: 122px;
}

.team-list {
  display: block;
}

.team {
  background: #f5f4fa;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .team-list__item {
    position: relative;
    background: var(--color-white);

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    list-style: none;
    margin-left: -30px;
    margin-top: -30px;
  }

  .team-list__item {
    position: relative;
    background: var(--color-white);

    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }

  .team-list__item {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .team-list > .team-list__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }

  .team-list__box {
    margin: 0 auto;
    padding: 30px 32px;
    border-radius: 0px 0px 5px 5px;
  }

  .social-list {
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
  }

  .team-list__box {
    padding: 30px 32px;
  }
  .components-title {
    @include font(36px, 1.16);
    margin-bottom: 50px;
  }

  .team-list__heading {
    @include font(16px, 1.18);
    font-weight: 500;
    text-align: center;
    color: var(--accent-text-color);
    margin-bottom: 10px;
  }

  .team-list__text {
    @include font(16px, 1.18);
    text-align: center;
    color: var(--accent-too-color);
    margin-bottom: 16px;
  }

  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .team-list__item {
    background: var(--color-white);
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }
  .social-list {
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .social-list__icon {
    fill: currentColor;
    transition: var(--functcii--transition);

    .social-list__link:hover &,
    .social-list__link:focus & {
      color: var(--color-white);
    }
  }

  .social-list__link {
    transition: var(--functcii--transition);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--accent-color);
    }
  }
}
