/*.footer-form__container {
  display: flex;
  flex-direction: column;
  width: 570px;
  margin-left: auto;
}

.footer-form__button {
  @include style();
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 28px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

.footer-button__text {
  @include font(16px, 1.88, 0.06em);
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-white);
}

.footer-form__input {
  @include style(flex, center, center);
}

.footer-form__text {
  @include font(14px, 1.14);
  display: block;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}

.footer-form__email-input {
  height: 50px;
  min-width: 358px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--background-footer);
  color: var(--color-white);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.footer-button__icon {
  width: 24px;
  height: 24px;
}*/
