/*.components-title {
  @include font(36px, 1.16);
  font-weight: 700;
  text-align: center;
  color: var(--accent-text-color);
  margin-bottom: 50px;
}*/

.linner {
  color: var(--accent-color);
}
