.logo {
  @include font(24px, 1.16);
  font-family: var(--secondari-font);
  font-weight: 700;
  font-style: normal;
  display: block;

  &_theme {
    &_light {
      color: #000000;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &_dark {
      color: var(--color-white);
      display: block;
    }
  }
}

.logo__logo-web {
  color: var(--accent-color);
}
